In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
assets = pd.read_csv("https://storage.googleapis.com/m6-bucket-webapp-public/M6_Universe.csv")
display(assets.head())

df = yf.download(list(assets['symbol'].values))
display(df.head())

,id,class,symbol,name,GICS_sector/ETF_type,GICS_industry/ETF_subtype
0,1,Stock,ABBV,AbbVie,Health Care,Pharmaceuticals
1,2,Stock,ACN,Accenture,Information Technology,IT Consulting & Other Services
2,3,Stock,AEP,American Electric Power,Utilities,Electric Utilities
3,4,Stock,AIZ,Assurant,Financials,Multi-line Insurance
4,5,Stock,ALLE,Allegion,Industrials,Building Products

[*********************100%***********************]  100 of 100 completed

           Adj Close                                               ... Volume  \
                ABBV ACN       AEP AIZ ALLE AMAT AMP AMZN AVB AVY  ...    XLC
Date                                                               ...
1962-01-02       NaN NaN  1.057740 NaN  NaN  NaN NaN  NaN NaN NaN  ...    NaN
1962-01-03       NaN NaN  1.055813 NaN  NaN  NaN NaN  NaN NaN NaN  ...    NaN
1962-01-04       NaN NaN  1.040400 NaN  NaN  NaN NaN  NaN NaN NaN  ...    NaN
1962-01-05       NaN NaN  1.017280 NaN  NaN  NaN NaN  NaN NaN NaN  ...    NaN
1962-01-08       NaN NaN  1.009573 NaN  NaN  NaN NaN  NaN NaN NaN  ...    NaN


           XLE XLF XLI XLK XLP XLU XLV XLY        XOM
Date
1962-01-02 NaN NaN NaN NaN NaN NaN NaN NaN   902400.0
1962-01-03 NaN NaN NaN NaN NaN NaN NaN NaN  1200000.0
1962-01-04 NaN NaN NaN NaN NaN NaN NaN NaN  1088000.0
1962-01-05 NaN NaN NaN NaN NaN NaN NaN NaN  1222400.0
1962-01-08 NaN NaN NaN NaN NaN NaN NaN NaN  1388800.0

[5 rows x 600 columns]

In [3]:
df

             Adj Close                                                 \
                  ABBV         ACN        AEP         AIZ        ALLE
Date
1962-01-02         NaN         NaN   1.057740         NaN         NaN
1962-01-03         NaN         NaN   1.055813         NaN         NaN
1962-01-04         NaN         NaN   1.040400         NaN         NaN
1962-01-05         NaN         NaN   1.017280         NaN         NaN
1962-01-08         NaN         NaN   1.009573         NaN         NaN
...                ...         ...        ...         ...         ...
2022-03-24  160.279999  325.290009  96.440002  182.869995  112.589996
2022-03-25  161.330002  327.709991  96.839996  184.479996  112.300003
2022-03-28  161.970001  330.739990  97.610001  183.669998  113.480003
2022-03-29  162.179993  340.690002  98.690002  181.309998  115.050003
2022-03-30  163.279999  337.200012  99.129997  181.779999  113.250000

                                                                         ...  \
                  AMAT         AMP         AMZN         AVB         AVY  ...
Date                                                                     ...
1962-01-02         NaN         NaN          NaN         NaN         NaN  ...
1962-01-03         NaN         NaN          NaN         NaN         NaN  ...
1962-01-04         NaN         NaN          NaN         NaN         NaN  ...
1962-01-05         NaN         NaN          NaN         NaN         NaN  ...
1962-01-08         NaN         NaN          NaN         NaN         NaN  ...
...                ...         ...          ...         ...         ...  ...
2022-03-24  138.589996  311.720001  3272.989990  241.702728  166.820007  ...
2022-03-25  137.059998  314.630005  3295.469971  245.717850  173.139999  ...
2022-03-28  137.660004  311.100006  3379.810059  248.450928  173.500000  ...
2022-03-29  141.440002  312.220001  3386.300049  256.670013  178.899994  ...
2022-03-30  135.940002  309.799988  3318.810059         NaN  176.330002  ...

               Volume                                                 \
                  XLC         XLE         XLF         XLI        XLK
Date
1962-01-02        NaN         NaN         NaN         NaN        NaN
1962-01-03        NaN         NaN         NaN         NaN        NaN
1962-01-04        NaN         NaN         NaN         NaN        NaN
1962-01-05        NaN         NaN         NaN         NaN        NaN
1962-01-08        NaN         NaN         NaN         NaN        NaN
...               ...         ...         ...         ...        ...
2022-03-24  4300700.0  26350300.0  30421500.0   7698900.0  7131700.0
2022-03-25  3854400.0  28041800.0  48613100.0   7350200.0  7437300.0
2022-03-28  2914400.0  34880200.0  44761000.0   7940900.0  9296500.0
2022-03-29  6935100.0  36619000.0  67965500.0  12157500.0  9411100.0
2022-03-30  3834163.0  21794080.0  34162112.0   6623726.0  7572623.0


                   XLP         XLU         XLV         XLY         XOM
Date
1962-01-02         NaN         NaN         NaN         NaN    902400.0
1962-01-03         NaN         NaN         NaN         NaN   1200000.0
1962-01-04         NaN         NaN         NaN         NaN   1088000.0
1962-01-05         NaN         NaN         NaN         NaN   1222400.0
1962-01-08         NaN         NaN         NaN         NaN   1388800.0
...                ...         ...         ...         ...         ...
2022-03-24   9458800.0  13295700.0   7189200.0   7567000.0  19871600.0
2022-03-25  12508400.0  14461000.0   7040100.0   8203900.0  22398300.0
2022-03-28  11602600.0  15479900.0   8467000.0  11532800.0  21552400.0
2022-03-29  16595100.0  19054800.0  12327700.0   9609200.0  27017500.0
2022-03-30   9948971.0  13340799.0   8371999.0   6913236.0  17002612.0

[15237 rows x 600 columns]